{% extends 'base.html' %}

{% block content %}
     <!-- Header-->
     <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecomerce...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt ac purus et fringilla. Morbi feugiat libero dui, nec fringilla arcu eleifend id. Nullam finibus massa in dui faucibus, at maximus enim luctus. Nunc vestibulum laoreet dolor sed aliquet. Vivamus tincidunt velit id elit vehicula, id imperdiet risus viverra. Nullam pretium consequat dapibus. Donec a eleifend ligula. Mauris et vulputate magna. Sed accumsan eros id nunc finibus, non mattis arcu gravida. Etiam aliquet maximus dictum. Ut semper iaculis massa, non feugiat ipsum consequat vitae. Praesent quis ipsum nisl. Fusce ut auctor nisi. Aliquam interdum risus a ipsum sodales, eu consequat elit tincidunt. Phasellus sed maximus diam. Pellentesque imperdiet ac nunc id sollicitudin.
                        <br/><br/>

In iaculis, nulla eget tincidunt feugiat, ligula justo lacinia ligula, ut ultrices erat erat et felis. Proin fringilla dui enim. Aenean velit risus, tristique eu dolor non, porttitor faucibus odio. Nulla nec quam in elit condimentum aliquam sed laoreet purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In ac justo porttitor, feugiat justo semper, ullamcorper sem. Nullam id efficitur sapien. Suspendisse ut nunc at nibh convallis varius eu eu sem. Pellentesque placerat dui ex, ac tempus lectus vulputate blandit.
<br/><br/>

Mauris porttitor felis id tempor scelerisque. Vestibulum libero enim, sollicitudin hendrerit nisi id, tempor viverra elit. Donec eleifend ut leo a placerat. Duis sit amet tempus ligula, id pellentesque nunc. Cras ultrices dictum dui vel vestibulum. Etiam blandit, nulla eget cursus convallis, sapien massa rutrum sem, a pellentesque massa metus nec sapien. Mauris vel sapien vel sapien faucibus pharetra. Duis in rhoncus nulla. Mauris id arcu eget sapien aliquet sagittis a ac sapien. Quisque ut tristique nisi, nec facilisis dui. Integer elit sem, laoreet id tortor eget, accumsan ullamcorper nibh.

<br/><br/>
                    </p>
                </div>
            </center>
        </div>
    </div>

{% endblock %}